{%extends 'base.html'%}

{%block main_block%}


<div class="container-fluid p-5 " 
  style="background-image: url('/img/f.avif');background-repeat: no-repeat;background-size:cover;height: 100%;">
    <div class="mx-auto grid w-full max-w-3xl items-center space-y-4 px-5 py-10 md:grid-cols-2 md:gap-32 md:space-y-0 lg:grid-cols-2 h-[600px]">
        {%for cat in data%}
        <div class="rounded-md border ">
      
          <div class="p-3 h-[100px]">
            <h1 class=" text-lg font-semibold text-center text-gray-400" style="border-radius: 44% 56% 43% 57% / 62% 30% 70% 38%;" >
                {{cat.category_name}}
            </h1>
            <button
              type="submit"
              class="mt-4 w-full rounded-sm bg-yellow-900 px-2  text-sm font-semibold text-white shadow-sm hover:bg-yellow-900/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              <a href="{%url 'cake-list' cat.id %}"> Show More</a>
            </button>
          </div>
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}