{%extends 'base.html'%}

{%block main_block%}
<!-- <div class="bg-gradient-to-r from-yellow-100 to-yellow-200"> -->

  <!-- bac
    background: rgb(189,97,34);
  background: linear-gradient(90deg, rgba(189,97,34,1) 0%, rgba(235,141,75,1) 48%);
   -->


    <div class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4 h-[600px]">
        {%for cat in data%}
        <div class="rounded-md border ">
      
          <div class="p-3 h-[100px]">
            <h1 class=" text-lg font-semibold text-center" style="border-radius: 44% 56% 43% 57% / 62% 30% 70% 38%;" >
                {{cat.category_name}}
            </h1>
            <button
              type="submit"
              class="mt-4 w-full rounded-sm bg-yellow-900 px-2  text-sm font-semibold text-white shadow-sm hover:bg-yellow-900/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              <a href="{%url 'cake-list' cat.id %}"> Show More</a>
            </button>
          </div>
        </div>
        {%endfor%}
    </div>
  </div>

{%endblock%}